# NOTE by Aom(SUB)
---------------------------------------

# DAY2

## COMMENTING
___________________________________________________________________

In [1]:
# This is comnment
print("hello world") # This is inline comment
"""
This
is
MULTIPLE
line
comment(string)
"""

hello world

'\nThis\nis\nMULTIPLE\nline\ncomment(string)\n'

### PRINT

In [2]:
print("Hello, Aomsub")
print("Hello", "Aomsub", "!", "987")
print("Hello", "Aomsub", "!", "987", sep="-")
print("Hello", "Aomsub", "!", "987", sep="\n")

Hello, Aomsub
Hello Aomsub ! 987
Hello-Aomsub-!-987
Hello
Aomsub
!
987

## DATA TYPE
___________________________________________________________________

1. integer - int
2. floating point - float
3. string - str
4. boolean - bool
5. None - None

In [3]:
# int
1, 2, 4, 0, -5
int()

# float
1.5, -2.4, 3.14, 0.0000000000000000000000
float()

# string
"This is real string"
'This is also a string but single quote'
"""
This is a 
MULTIPLE line
string
"""
str()

# boolean
True, False
bool()

# None
None

## TYPE CHECKING
___________________________________________________________________

In [4]:
print(type(0.0))
isinstance(-1, int)

<class 'float'>

True

### Fun Facts you should know

In [5]:
isinstance(False, int) #True
#False == 0
#True == 1

True


# DAY3

## ASSIGN VALUE
____________________

In [1]:
# When assign the value, make sure to leave a white space between an equal sign
age = 28
print(age)

number = 20
number = None
print(number) # Python reading from top-to-bottom

28
None

## NAMING VARIBLE
__________________

In [9]:
# Make sure to make the variable MEANINGFUL and not too long

# GOOD
name = "Sub" 
age = 18
gender = "Male"
sport = "Badminton"

# BAD
n = "Mike"
g = 15
date_of_birth_of_a_principal_at_harbourspace = "12/04/1990"

In [1]:
# Make sure to not assign the value to a reserved keywords
True = "Not real" # DO NOT DO THIS

#   True = "Not real" # DO NOT DO THIS
#   ^
#   SyntaxError: cannot assign to True

SyntaxError: cannot assign to True (918223319.py, line 2)

## INPUT
______________

In [7]:
# You can put a string inside an input, so you let the user know what to input
name = input("Enter your name: ") 

print("Hello, Welcome", name)

Hello, Welcome Sub

## CONVERT
---------------------------------

In [ ]:
# convert to integer
# int()
a = int("4")
a = int("-1")
a = int(True) # True == 1
a = int(2.4) # Round down

a = int("2.4") # Error
a = int("True") # Error
print(a, type(a))

In [ ]:
# convert to float
# float()
a = float("4")
a = float("-1")
a = float(True) # True == 1
a = float(2.4)

a = float("2.4")
a = float("-1.4")
a = float("True") # Error
print(a, type(a))

In [18]:
# convert to boolean
# bool()
a = bool(0) # False
a = bool(1) # True and a number > 0 is True

a = bool("") # False
a = bool(None) # False

print(a, type(a))

False <class 'bool'>

In [23]:
# convert to string
a = str(1) # "1"
a = str(True) # "True"
a = str(None) # "None"
a = str(print()) # None
a = str()
a = bool(str(float(-2))) # True

print(a, type(a))

True <class 'bool'>

## MATH OPERATIONS
-----------------------------------

In [30]:
# addition
a = 1 + 1 # 2

# subctraction
a = 1 - 1 # 0

# multiplication
a = 2 * 4 # 8

# division
a = 4 / 2 # 2.0
a = 4 // 2 # 2 (Whole number without the remainder)
a = int(4 / 2) # 2

a = 7 / 3 # 2.3333333333...
a = 7 // 3 # 2

# power
a = 2 ** 3

# modulus
a = 8 % 5 # 3
a = 12 % 8 # 4
a = 10 % 3.3 # 0.10000000000000053 (normally we modulus with a whole number)

0.10000000000000053

In [ ]:
# Fun facts
a = 0 ** 0 # 1
a = 0 / 0 # ZeroDivisionError: division by zero
a = 9 % 0 # ZeroDivisionError: integer modulo by zero

In [35]:
# do something with float you will get float as a result
10.0 - 10

1.0

In [40]:
# some stuff related to computer's memory
0.1 + 0.2

0.30000000000000004

In [43]:
# 12.9 -> 12.0
12.9 // 1

12.0

## ORDER OF OPERATIONS
____________________

In [46]:
# () --> ** --> */ --> +-

# Bad
2 * 2 - 2 / 2 - 2 ** 2

# PEP8
a = (2 * 2)- (2 / 2) - (2 ** 2) #1st way of organizing the code
b = 2*2 - 2/2 - 2**2 #2nd way of organizing the code

# note that floating point came from division

-1.0

In [52]:
a = 4 + 4
b = 3 * 2
a = a + 4
a = b / a

a

0.5

In [53]:
# The next two lines do the same task, which is increase a by 4
a = a + 4
a += 4
a

8.5

## LOGICAL OPERATORS
____________________

In [8]:
a = 5

2 > 3  # False
a == 6 # False
a >= 5 # True
a <= 4 # False
a != 5 # False

# You can chain the operator
4 > 3 > 1   # True
3 == 3 != 3 # False

True

# DAY4

## LOGICAL CONNECTORS
____________________

In [16]:
# not
not True         # False
not False        # True
not None         # True

# and
3 >= 1 and True  # True
4 < 1 and True   # False

# or
3 >= 1 or 4 < 1  # True
3 == 2 or 3 == 3 # True

a = 5
b = 6

a != b-1 or b**2 > a # True

True

## CONVERT INPUT
_____________

In [21]:
user_age = int(input("Enter your age"))         # integer
user_firstname = input("Enter your first name") # string
user_lastname = input("Enter your lastname")    # string

print(user_firstname, user_lastname, user_age)

Nattanat Lertariyamaythee 18

## ADDER PROGRAM
___________________

In [23]:
#
first_num = int(input("Enter first number:"))
second_num = int(input("Enter second number"))

sum = first_num + second_num

print("The result is:", sum)

The result is: 2356

## QUIZ CONVERT TEMPERATURE
______

In [27]:
# 
current_unit = input("Enter your current unit (C, K, F, R): ").upper()
final_unit = input("Enter your prefer unit (C, K, F, R): ").upper()
current_temp = float(input("Enter current temperature: "))
temp_in_kelvin = 0
final_temp = 0

if current_unit == 'C':
    temp_in_kelvin = current_temp + 273.15
elif current_unit == 'F':
    temp_in_kelvin = ((current_temp - 32) * 5 / 9) + 273.15
elif current_unit == 'R':
    temp_in_kelvin = current_temp / 1.8
else:
    temp_in_kelvin = current_temp

if final_unit == 'C':
    final_temp = temp_in_kelvin - 273.15
elif final_unit == 'F':
    final_temp = ((temp_in_kelvin - 273.15) * 9 / 5) + 32
elif final_unit == 'R':
    final_temp = temp_in_kelvin * 1.8
else:
    final_temp = temp_in_kelvin

print("Result", final_temp, final_unit)

Result 32.0 F

## MATH FUNCTIONS
_____________

In [53]:
# abs
abs(-20) # 20

# min max
max(20, 40, 50, 500) # 500
min(20, 40, 50, 500) # 20

# round
round(986, -1) # round(number, # of decimal point) # 990

990

## TURTLE LIBRARY
___________

### JOIN ME AT THE .PY FILE