# DAY9

## LIST
__________

In [ ]:
empty_list = []
empty_list = list()

print("Hello", "World", sep="+")
numbers = [1, 2, 3, 4]

my_list = [1, 0.2, True, "String WOW", None, [], [1, 2], print, input, empty_list]

## LENGHT, INDEXING, SLICING, LOOP
________

In [ ]:
l = [1, True, 0.5]
len(l)

In [ ]:
str = "I am the string xD"
print(str[3])

l[2] # work the same as string index

In [ ]:
l = [1, True, 0.5, "PalmBOI", None, print]

l[1:5] # l[start: stop: step] output as a list
l[::-1]

In [ ]:
for item in l:
    print(item)

## MODIFYING OUT LIST
__________

In [ ]:
l = [1, 2, 3]
l.append(4) # add only one element in the list
print(l)

l.insert(1, True) # add two element to the list
print(l)

l.extend([5, 6, 7, 8, 9, 10])
print(l)

l += ["this", "work", "the", "same"]
print(l)

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

# c = [[1, 2, 3],[4, 5, 6]]
list_c = []

list_c.extend([list_a, list_b])

print(list_c)

## POP, REMOVE, CLEAR
______

In [ ]:
# pop
l = [1, 2, 3]
l.pop() # pop out the last element of the list

print(l)

In [ ]:
# remove
l = [1, 2, 3, True]
l.remove(3) # remove the specifying value

print(l)

In [ ]:
l = [1, 2, None, 1, 3, print]
new_l = []

for item in l:
    if not item == 1:
        new_l.append(item)

print(new_l)
# Note: does not work when there is a boolean True

## UPDATE/CHANGE THE ELEMENT
_________

In [ ]:
l = [1, 2, 0.5, None, 1, 'VetitBOI']
l[1] = 3
print(l)

l[5][1] # index 5 of the list and 1 at the string at that index

# DAY10

## *LIST (LIST EXTRACTOR)
__________

In [ ]:
l = [1, True, 0.5, "Palm", None, print]

print(l)
print(*l) # extract the list element

## MULTIPLY / ADD
____________

In [ ]:
zeroes = [0] * 6 # [0, 0, 0, 0, 0, 0]

[3] + [2] # [3, 2]

In [ ]:
l = [1, 2, 1, 3, 1, 4]
l.reverse()

print(l)

## SORTING
__________

In [ ]:
l = [1, 2, 1, 3, 1, 4]
l.sort(reverse=True) # argument reverse
print(l)

## IN / NOT IN
______

In [ ]:
l = [1, 2, 1, 3, 1, 4]
print(2 in l)

In [ ]:
l = [1, 2, 1, 3, 1, 4,[1,2]]
[1, 2] in l

In [ ]:
for i in range(len(l)):
    print(i, l[i])

## MAP
__________

In [ ]:
l = [2, 7, 10]
list(map(int, l))

In [ ]:
l = [0, 1, 0.0]
list(map(str, l))

In [ ]:
# input: 1, 2, 3, 4, 5
# in code: [1, 2, 3, 4, 5]
l = list(map(int, input().split()))
l

## TUPLE
____________

Tuple is a list but
 - immutable (cannot be changed, added, or deleted)

In [ ]:
empty_tuple = ()
t = (1, 2, 3)

t = (2) # This is an integer this is not a tuple nut number.
one_element_tuple = (5, )
type(one_element_tuple)

In [ ]:
t = (4, 1, 3)
sorted(t)
list(reversed(t))

In [ ]:
print(*t)

In [ ]:
tuple(map(int, input().split()))

In [ ]:
print(t * 5)
print(t+t)

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t1 + t2 # This guy create a new tuple

Why we use tuple?
1. Something that should not be changed
2. Lower memory and CPU usage (relative to list)
3. Only Immutable object (In python!!) that stores sequence of data

# DAY11

## SET
____________

### SET OPERATIONS

In [ ]:
empty_set = set()
non_empty_set = {1, 2, 3, 4, 4} # 

non_empty_set # {1, 2, 3, 4} becase set has only unique value

In [ ]:
l = [1, 2, 3, 4, 4]
print(set(l)) # turn list into a set

t = (1, 2, 2, 3, 4)
print(set(t))

In [ ]:

s1 = {1, 2, 3}
s2 = {3, 4, 5}

# will give an error
    # reversed(s)
    # sort(s)
    # s1 + s2
    # indexing, slicing
    # s1[0]
    # and more

s1

### ADD/ REMOVE

In [ ]:
s = {1, 2, 4, 5}
s.add(5)
s.remove(1)
print(s)

### POP IS WEIRD

In [ ]:
words = {'cat', 'dog', 1, 2, True, None, 0.5, (1, 2)} # Note: list is unhashable
words.pop()
words

### UPDATE

In [ ]:
s1 = {1, 2 ,3}
s1.update([2, 3, 4])

s1

### UNION INTERSECT DIFFERENCE

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1.union(s2)
s1.intersection(s2)
s1.difference(s2)

s1-s2 # same as difference
s1 | s2 # same as union
s1 & s2 # same as intersection

In [ ]:
words = {"apple", "banana", "cat", "dog"}
words

In [ ]:
words2 = {"apple", "banana", "cat", "dog"}
words2

### IN/ NOT IN

In [ ]:
s = {1, 2, 3} # O(1)
l = [1, 2, 3] # O(n)
0 in l
1 in s

In [ ]:
if 1 in s:
    print("YAY!")
else:
    print("NO SIRE")

### LOOP

In [ ]:
s = {'apple', 'banana', 'cat', 'dog'}
for i, ele in enumerate(s):
    print(i, ele)

## DICTIONARY
_______________

In [ ]:
นี่คือดิก = {"key":1}

print(นี่คือดิก['key'])
empty_dict = dict()
empty_dict = {}


animals_leg = {
    "horse": 4,
    "cat": 4,
    "human": 2
}

print(animals_leg['horse'])

In [14]:
d = {None: "YIPPIE"}
d = {(1, 2): "OMAGODDO"}

d = {
    1: 2,
    3: 2,
    1: 4
}

# d = {[1, 2]: "NOPE"}
# d = {{1, 2}: "Nope"}

### CHANGE THE VALUE

In [ ]:
animals_leg = {
    "horse": 4,
    "cat": 4,
    "human": 2
}

animals_leg['horse'] = 6
animals_leg

### ADD KEY-VALUE PAIR

In [ ]:
animals_leg["unicorn"] = 500
animals_leg

### OPERATIONS

In [ ]:
animals_leg = {'horse': 4, 'cat': 4, 'human': 2, 'pig':4, 'fish': 0}

len(animals_leg)

### IN / NOT IN

In [ ]:
print(4 in animals_leg) # False
print('horse' in animals_leg) # True
print('turtle' in animals_leg) # True

### METHOD

#### GET

In [ ]:
animals_leg = {'horse': 4, 'cat': 4, 'human': 2, 'pig':4, 'fish': 0, 'turtle': 4}
animals_leg.get('turtle') # return None if there are not turtle in the dictionary
# animals_leg['turtle'] # Type Error

#### UPDATE

In [ ]:
animals_leg = {'horse': 4, 'cat': 4, 'human': 2, 'pig':4, 'fish': 0}
animals_leg.update({'horse': 10})
animals_leg

#### DELETE

In [ ]:
animals_leg = {'horse': 4, 'cat': 4, 'human': 2, 'pig':4, 'fish': 0}
# del animals_leg['horse']

animals_leg.popitem() # pop the last item
animals_leg.pop('cat')
animals_leg

### LOOPS

In [ ]:
print(list(animals_leg.items()))
print(list(animals_leg.keys()))
print(list(animals_leg.values()))

In [ ]:
animals_leg = {'horse': 4, 'cat': 4, 'human': 2, 'pig':4, 'fish': 0}
for key in animals_leg:
    print(key)

In [ ]:
for i, element in enumerate(animals_leg):
    print(i, element)

In [ ]:
for i, ele in animals_leg.items():
    print(i, ele)

In [ ]:
for key in animals_leg.keys():
    print(key)

In [ ]:
animals_leg.clear()
animals_leg