# NOTE by Aom(SUB)
---------------------------------------

# DAY2

## COMMENTING
___________________________________________________________________

In [17]:
# This is comnment
print("hello world") # This is inline comment
"""
This
is
MULTIPLE
line
comment(string)
"""

hello world

'\nThis\nis\nMULTIPLE\nline\ncomment(string)\n'

### PRINT

In [18]:
print("Hello, Aomsub")
print("Hello", "Aomsub", "!", "987")
print("Hello", "Aomsub", "!", "987", sep="-")
print("Hello", "Aomsub", "!", "987", sep="\n")

Hello, Aomsub
Hello Aomsub ! 987
Hello-Aomsub-!-987
Hello
Aomsub
!
987

## DATA TYPE
___________________________________________________________________

1. integer - int
2. floating point - float
3. string - str
4. boolean - bool
5. None - None

In [19]:
# int
1, 2, 4, 0, -5
int()

# float
1.5, -2.4, 3.14, 0.0000000000000000000000
float()

# string
"This is real string"
'This is also a string but single quote'
"""
This is a 
MULTIPLE line
string
"""
str()

# boolean
True, False
bool()

# None
None

## TYPE CHECKING
___________________________________________________________________

In [20]:
print(type(0.0))
isinstance(-1, int)

<class 'float'>

True

### Fun Facts you should know

In [21]:
isinstance(False, int) #True
#False == 0
#True == 1

True


# DAY3

## ASSIGN VALUE
____________________

In [22]:
# When assign the value, make sure to leave a white space between an equal sign
age = 28
print(age)

number = 20
number = None
print(number) # Python reading from top-to-bottom

28
None

## NAMING VARIBLE
__________________

In [23]:
# Make sure to make the variable MEANINGFUL and not too long

# GOOD
name = "Sub" 
age = 18
gender = "Male"
sport = "Badminton"

# BAD
n = "Mike"
g = 15
date_of_birth_of_a_principal_at_harbourspace = "12/04/1990"

In [24]:
# Make sure to not assign the value to a reserved keywords
True = "Not real" # DO NOT DO THIS

#   True = "Not real" # DO NOT DO THIS
#   ^
#   SyntaxError: cannot assign to True

SyntaxError: cannot assign to True (2491802490.py, line 2)

## INPUT
______________

In [7]:
# You can put a string inside an input, so you let the user know what to input
name = input("Enter your name: ") 

print("Hello, Welcome", name)

Hello, Welcome Sub

## CONVERT
---------------------------------

In [ ]:
# convert to integer
# int()
a = int("4")
a = int("-1")
a = int(True) # True == 1
a = int(2.4) # Round down

a = int("2.4") # Error
a = int("True") # Error
print(a, type(a))

In [ ]:
# convert to float
# float()
a = float("4")
a = float("-1")
a = float(True) # True == 1
a = float(2.4)

a = float("2.4")
a = float("-1.4")
a = float("True") # Error
print(a, type(a))

In [18]:
# convert to boolean
# bool()
a = bool(0) # False
a = bool(1) # True and a number > 0 is True

a = bool("") # False
a = bool(None) # False

print(a, type(a))

False <class 'bool'>

In [23]:
# convert to string
a = str(1) # "1"
a = str(True) # "True"
a = str(None) # "None"
a = str(print()) # None
a = str()
a = bool(str(float(-2))) # True

print(a, type(a))

True <class 'bool'>

## MATH OPERATIONS
-----------------------------------

In [30]:
# addition
a = 1 + 1 # 2

# subctraction
a = 1 - 1 # 0

# multiplication
a = 2 * 4 # 8

# division
a = 4 / 2 # 2.0
a = 4 // 2 # 2 (Whole number without the remainder)
a = int(4 / 2) # 2

a = 7 / 3 # 2.3333333333...
a = 7 // 3 # 2

# power
a = 2 ** 3

# modulus
a = 8 % 5 # 3
a = 12 % 8 # 4
a = 10 % 3.3 # 0.10000000000000053 (normally we modulus with a whole number)

0.10000000000000053

In [ ]:
# Fun facts
a = 0 ** 0 # 1
a = 0 / 0 # ZeroDivisionError: division by zero
a = 9 % 0 # ZeroDivisionError: integer modulo by zero

In [35]:
# do something with float you will get float as a result
10.0 - 10

1.0

In [40]:
# some stuff related to computer's memory
0.1 + 0.2

0.30000000000000004

In [43]:
# 12.9 -> 12.0
12.9 // 1

12.0

## ORDER OF OPERATIONS
____________________

In [46]:
# () --> ** --> */ --> +-

# Bad
2 * 2 - 2 / 2 - 2 ** 2

# PEP8
a = (2 * 2)- (2 / 2) - (2 ** 2) #1st way of organizing the code
b = 2*2 - 2/2 - 2**2 #2nd way of organizing the code

# note that floating point came from division

-1.0

In [52]:
a = 4 + 4
b = 3 * 2
a = a + 4
a = b / a

a

0.5

In [53]:
# The next two lines do the same task, which is increase a by 4
a = a + 4
a += 4
a

8.5

## LOGICAL OPERATORS
____________________

In [8]:
a = 5

2 > 3  # False
a == 6 # False
a >= 5 # True
a <= 4 # False
a != 5 # False

# You can chain the operator
4 > 3 > 1   # True
3 == 3 != 3 # False

True

# DAY4

## LOGICAL CONNECTORS
____________________

In [16]:
# not
not True         # False
not False        # True
not None         # True

# and
3 >= 1 and True  # True
4 < 1 and True   # False

# or
3 >= 1 or 4 < 1  # True
3 == 2 or 3 == 3 # True

a = 5
b = 6

a != b-1 or b**2 > a # True

True

## CONVERT INPUT
_____________

In [21]:
user_age = int(input("Enter your age"))         # integer
user_firstname = input("Enter your first name") # string
user_lastname = input("Enter your lastname")    # string

print(user_firstname, user_lastname, user_age)

Nattanat Lertariyamaythee 18

## ADDER PROGRAM
___________________

In [23]:
#
first_num = int(input("Enter first number:"))
second_num = int(input("Enter second number"))

sum = first_num + second_num

print("The result is:", sum)

The result is: 2356

## QUIZ CONVERT TEMPERATURE
______

In [27]:
# 
current_unit = input("Enter your current unit (C, K, F, R): ").upper()
final_unit = input("Enter your prefer unit (C, K, F, R): ").upper()
current_temp = float(input("Enter current temperature: "))
temp_in_kelvin = 0
final_temp = 0

if current_unit == 'C':
    temp_in_kelvin = current_temp + 273.15
elif current_unit == 'F':
    temp_in_kelvin = ((current_temp - 32) * 5 / 9) + 273.15
elif current_unit == 'R':
    temp_in_kelvin = current_temp / 1.8
else:
    temp_in_kelvin = current_temp

if final_unit == 'C':
    final_temp = temp_in_kelvin - 273.15
elif final_unit == 'F':
    final_temp = ((temp_in_kelvin - 273.15) * 9 / 5) + 32
elif final_unit == 'R':
    final_temp = temp_in_kelvin * 1.8
else:
    final_temp = temp_in_kelvin

print("Result", final_temp, final_unit)

Result 32.0 F

## MATH FUNCTIONS
_____________

In [53]:
# abs
abs(-20) # 20

# min max
max(20, 40, 50, 500) # 500
min(20, 40, 50, 500) # 20

# round
round(986, -1) # round(number, # of decimal point) # 990

990

## TURTLE LIBRARY
___________

### JOIN ME AT THE .PY FILE

# DAY5

## CONSTANT
____________

In [ ]:
PI = 3.14
MATH_E = 2.97
API = 'something important'

## CONDITIONALS
_________

if CONDITIONS:<br>
&nbsp;&nbsp;&nbsp;&nbsp;DO__SOMETHING

In [8]:
if 5 != 4:
    if 5 != 3:
        if 5 != 2:
            if 5 != 1:
                if 5 != 6:
                    print("ох дааа")
            if 5 != 7:
                print("ОХ НЕТ")

# same code but better
if 5 != 4 and 5 != 3 and 5 != 2:
    if 5 != 1 and 5 != 6:
        print("ох дааа")
    if 5 != 7:
        print("ОХ НЕТ")

ох дааа
ОХ НЕТ
ох дааа
ОХ НЕТ

In [7]:
# INNTRODUCING ELSE
# first block
if 4 == 5:
    print("Yes")

# second block
if 4 <= 6:
    print("ДА")
else:
    print("No")

# third block
if 1 == 5:
    print("True")
else:
    print("False")

ДА
False

In [9]:
# INTRODUCING ELIF (else if)

if 2 > 3:
    print("A")
elif 3 > 4:
    print("B")
elif 3 == 3:
    print("C")
else:
    print("D")

C

In [31]:
# real-life example

pocket_money = int(input("Enter your pocket money:"))
age = int(input("What is your age:"))

is_older_than_20 = age > 20

if pocket_money > 3000:
    print("Cavier and Foie Gras, sire")
    if is_older_than_20:
        print("with wine, sire")
elif pocket_money > 700:
    print("Buffet")
    if is_older_than_20:
        print("coming with Beer, sir")
elif pocket_money > 100:
    print("Tom Yum")
    print("Omelet")
else:
    print("Go back home and eat MAMA")
    print("Water")

Cavier and Foie Gras, sire
with wine, sire

# DAY6

## LOOP
_________

### WHILE LOOP

In [5]:
# run 1-5

# Print number from 1-20
number = 2
while  number <= 20:
    print(number)
    number += 2

2
4
6
8
10
12
14
16
18
20

### BREAK, CONTINUE, PASS

In [ ]:
# break
number = 1
while True:
    print(number)
    if number % 17 == 0 and number % 2 == 0:
        break
    number += 1

In [ ]:
# continue
number = 1
while True:
    print(number)
    if number % 17 == 0 and number % 2 == 0:
        break
    if number == 2:
        continue
        print("Hello world") # Ignore the next line
    number += 1

In [ ]:
# pass
number = 1
while True:
    print(number)
    if number % 17 == 0 and number % 2 == 0:
        break
    if number == 2:
        pass
        print("hello world")
    number += 1

### FOR LOOP

In [30]:
# range(start, stop, step)

for i in range(10,-1,1):
    print(i)

In [40]:
# Square of number from 1-1000

for number in range(1,11):
    result = number**2
    print(result)

1
4
9
16
25
36
49
64
81
100

# DAY7

### NESTED LOOP

In [6]:
for num1 in range(2):
    for num2 in range(3):
        
        if(num1 * num2 == 2):
            continue
        print(num1, num2)

## STRING
___________

In [13]:
s = """
Some string goes here
Hi Mark.
"""

In [4]:
# length of the string

some_string = "This is a really really long string"
len(some_string)

# Multiple of string
some_string = "test" * 3
print(some_string)

'testtesttest'

### INDEXING

In [2]:
this_string = "This is a stringafnauib jhbfjaw fjenfhewbfibdgheuf eufhwaf uofhewivuehfugoebfiuhgf9wehf;3"

print(this_string[0]) # From the back

T

### SLICING

In [1]:
s = "Just a normal string"

s[3:9:3] # s[start, stop, step]
s[::-1] # reverse string
s[-20:20]

'Just a normal string'

# DAY8

## F-STRING (FORMATTED STRING)
___________________

In [9]:
user_name = input()
age = input()

greeting_msg = "Hello, " + user_name + ". Your age is " + age + "."
greeting_msg_formatted = f"Hello, {user_name}. Your age is {age}"

print(greeting_msg)
print(greeting_msg_formatted)

Hello, Boiii. Your age is 18.
Hello, Boiii. Your age is 18

## Spliting
__________

In [11]:
greeting_msg_formatted.split()

['Hello,', 'Boiii.', 'Your', 'age', 'is', '18']

In [19]:
s = 'i love sucking lemons'
s.split('i')

['', ' love suck', 'ng lemons']

## IN / NOT IN OPERATORS
_____________

In [16]:
s = "I love sucking lemons"
print('o' in s) # True
print('  ' in s) # False
print('ov' in s) # True
print('oe' not in s) # True

True
False
True
True

In [21]:
s = 'i love sucking lemon'
result = s.count("lemo")
print(result)

1

In [42]:
s.capitalize() # make first character be a capital letter

s.upper() # make all character be a capital character
s.lower() # make all character be a lower_case character

s.isupper() # check if there is at least one capital letter

s = "I love sucking lemons"
new_s = s.replace("love", "nope sir")
print(new_s)

I nope sir sucking lemons

## LOOP THROUGH STRING
______________

In [57]:
s = "I love"
for character in s:
    print(character)

I

l
o
v
e

In [60]:
for i in range(len(s)):
    print(i, s[i])

0 I
1
2 l
3 o
4 v
5 e

In [61]:
s = "This is a string"

for index, character in enumerate(s):
    print(index, character)

0 T
1 h
2 i
3 s
4
5 i
6 s
7
8 a
9
10 s
11 t
12 r
13 i
14 n
15 g

# DAY9

## LIST
__________

In [26]:
empty_list = []
empty_list = list()

print("Hello", "World", sep="+")
numbers = [1, 2, 3, 4]

my_list = [1, 0.2, True, "String WOW", None, [], [1, 2], print, input, empty_list]

Hello+World

## LENGHT, INDEXING, SLICING, LOOP
________

In [27]:
l = [1, True, 0.5]
len(l)

3

In [30]:
str = "I am the string xD"
print(str[3])

l[2] # work the same as string index

m

0.5

In [38]:
l = [1, True, 0.5, "PalmBOI", None, print]

l[1:5] # l[start: stop: step] output as a list
l[::-1]

[<function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 None,
 'PalmBOI',
 0.5,
 True,
 1]

In [39]:
for item in l:
    print(item)

1
True
0.5
PalmBOI
None
<built-in function print>

## MODIFYING OUT LIST
__________

In [43]:
l = [1, 2, 3]
l.append(4) # add only one element in the list
print(l)

l.insert(1, True) # add two element to the list
print(l)

l.extend([5, 6, 7, 8, 9, 10])
print(l)

l += ["this", "work", "the", "same"]
print(l)

[1, 2, 3, 4]
[1, True, 2, 3, 4]
[1, True, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, True, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'this', 'work', 'the', 'same']

In [47]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

# c = [[1, 2, 3],[4, 5, 6]]
list_c = []

list_c.extend([list_a, list_b])

print(list_c)

[[1, 2, 3], [4, 5, 6]]

## POP, REMOVE, CLEAR
______

In [48]:
# pop
l = [1, 2, 3]
l.pop() # pop out the last element of the list

print(l)

[1, 2]

In [52]:
# remove
l = [1, 2, 3, True]
l.remove(3) # remove the specifying value

print(l)

[1, 2, True]

In [58]:
l = [1, True, None, 1, 3, print]
new_l = []

for item in l:
    if not item == 1:
        new_l.append(item)

print(new_l)

[None, 3, <built-in function print>]